{% extends "base.twig" %}

{% block body %}
<!-- <html lang="en" data-bs-theme="dark">
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Titre de l'animé</h5>
    <p class="card-text">Petite description de l'anime avec son genre, nbr d'épisodes, durée etc.</p>
    <a href="#" class="btn btn-primary">Aller sur sa fiche détaillée</a>
  </div>
</div>
-->
{{data.searchForm.form_open|raw}}
{{data.searchForm.form_search|raw}}
{{data.searchForm.form_submit|raw}}
{{data.searchForm.form_close|raw}}
{% set cardWeight = 0 %}
{% if data is defined %}
<div class="row row-cols-1 row-cols-md-4" >
            {% for anime in data.animes | slice(0,20) %}       
         <div class="card">      
         <div class = "col-md-8">
            {% if anime.small_image_url %}
              <img src={{anime.small_image_url}} class="card-img-top" alt="...">
            {% else %}
            <img src="C:\wamp\www\pandanim\public\CSS\NoImagePanda" class="card-img-top" alt="...">
            {% endif %}
              <div class="card-body">
                <h5> {{anime.title}} </h5>
                  <p class="card-text"> - {{anime.episodes}} ep, {{anime.duration}}  </p>
                  <p class="card-text"> - {{anime.synopsis | slice(0,150) }} ... </p>
                   <a href="#" class="btn btn-primary">Show more</a>
              </div>  
              </div>     
          </div>
        {% endfor %}    
</div>
    
{% endif %}
</html>
{% endblock %}

